@font-face {
  font-family: "Pare Reverse";
  src: url("../fonts/Pare\ Reverse\ Italic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen.ttf");
  font-display: swap;
}
html {
  background-color: #d4d4d4;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
div,
p,
span {
  font-family: Sen;
  font-size: 30px;
}
input:focus {
  outline: none;
}
input.err-input {
  border-bottom: 3px solid red !important;
}
span.err-span {
  font-size: 16px !important;
  color: red !important;
}
tr.err-row td {
  padding: 0 !important;
}
article {
  padding: 2% 3% 0 3%;
}
img {
  user-select: none;
}
header {
  /* Image sourced from 
  https://pixabay.com/photos/admission-coupon-admit-carnival-2974645/ 
  educational purposes only*/
  background-image: url(../media/header_bg.webp);
  background-position: center;
  padding: 2% 0;
}
header > div > div:first-child {
  padding-left: 20%;
}
header div:last-child {
  font-family: "Pare Reverse";
  font-size: 250px;
  font-weight: bolder;
  letter-spacing: 6px;
  color: #f9ed69;
  text-align: center;
}
#navigation {
  background-color: #000;
  max-height: 65px;
}
#navigation a {
  color: #f9ed69;
}
#navigation a {
  transition: background-color 0.15s, color 0.1s;
  text-align: center;
}
#navigation a:hover,
#navigation .active {
  background-color: #f9ed69;
  color: #000;
}
main article {
  min-height: 100vh;
  padding: 10px;
}
.anchor {
  visibility: hidden;
  top: -60px;
  display: block;
  position: relative;
}
#section1 {
  /* Image sourced from profurn.com.au - educational purpose only */
  background-image: url(../media/seat_background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section1-content-wrapper {
  background-color: rgba(240, 248, 255, 0.74);
  padding-top: 1%;
  backdrop-filter: blur(5px);
}
#section1-content-wrapper p {
  margin: 0 3% 0 4%;
  width: 100%;
}
#section1-content-wrapper span {
  font-size: 60px;
}
#section1 a {
  transition: color 0.15s;
}
#section1 a:active,
#section1 a:link,
#section1 a:visited {
  text-decoration: none;
  color: #00f;
}
#section1 a:hover {
  text-decoration: none;
  color: #3b778b;
}
#seatings {
  margin-top: 2rem;
}
#seatings div {
  text-align: center;
}
#seatings div p span {
  font-size: 1.35em;
  color: #f9ed69;
  background-color: #000;
  padding: 2px 8px;
}
#seatings img {
  max-width: 768px;
}
#section2 {
  background-image: linear-gradient(#cae8d5, #84a9ac);
  text-align: center;
  position: relative;
}
#section2 > p {
  font-size: 60px;
  margin: 10px 0 0 0;
  padding-bottom: 2%;
}
#section2 span {
  font-size: 15px;
  font-style: italic;
}
.ticket {
  text-align: center;
  background-color: #204051;
  border-radius: 10px;
}
.ticket-name {
  color: lightgrey;
  font-size: 52px;
  overflow-wrap: break-word;
}
.price-special {
  font-size: 47px;
  margin: 0;
  font-style: italic;
  color: aquamarine;
}
.first-class {
  background-color: #3b6978;
}
.price-normal {
  color: mediumaquamarine;
  font-size: 35px;
  margin: 0;
}
#special {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#anchor3 {
  visibility: visible;
}
#section3 {
  margin: 0;
  padding: 0;
  background-color: #dcd6f7;
  padding-top: 1rem;
}
#section3 > p {
  text-align: center;
  font-size: 60px;
}
#movies {
  background-color: #a6b1e1;
  padding-bottom: 2%;
}
.movie {
  height: 100%;
  padding: 1%;
}
#poster {
  height: 100%;
  text-align: center;
}
#poster img {
  max-width: 364px;
  max-height: 490px;
  border: 2px solid #000;
  box-shadow: 5px 10px #949494;
  transition: border 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
#poster img:hover {
  border: 2px solid transparent;
  box-shadow: 5px 10px #000;
}
.movie-info p {
  text-align: center;
  font-size: 45px;
  text-shadow: 1px 1px #000;
}
.movie-info p + p {
  font-size: 30px;
  line-height: 0;
}
.movie-info table {
  font-size: 32px;
  margin: auto;
}
.movie-info table tr {
  border-bottom: 1px solid #000;
}
.movie-info table tr:last-child {
  border-bottom: none;
}
.movie-info td + td {
  padding-left: 2em;
}
#synopsis {
  background-color: khaki;
  padding-bottom: 3%;
}
#synopsis #info {
  padding: 2%;
}
#synopsis #info > p span {
  font-size: 45px;
}
#synopsis #info p span:first-child {
  float: left;
}
#synopsis #info p span:last-child {
  float: right;
}
#synopsis #info p:last-of-type {
  font-size: 32px;
  text-align: justify;
}
#synopsis iframe {
  border: 2px solid #000;
  box-shadow: 5px 10px #949494;
}
.synopsis-row {
  padding-right: 1%;
  background-color: rgba(169, 169, 169, 0.685);
}
.synopsis-row + p {
  margin-top: 0.5rem;
  font-size: 45px;
}
#booking-form {
  text-align: center;
}
#booking-form div + p > span {
  font-size: inherit;
  font-weight: bolder;
}
.booking-date {
  display: inline-block;
  user-select: none;
  margin: 0 1rem;
}
.booking-date label {
  padding: 0 10%;
}
.booking-date input {
  display: none;
}
.booking-date label {
  transition: background-color 0.5s, box-shadow 0.5s, color 0.25s;
  cursor: pointer;
}
.booking-date input[type="radio"]:checked + label {
  background-color: #000;
  color: khaki;
  box-shadow: 5px 10px #949494;
}
.booking-date input:disabled + label {
  color: #818181;
  cursor: unset;
}
.booking-box .inner {
  border: 3px solid #000000;
  border-top: 5px solid #000000;
  padding: 30px 0;
}
.booking-box > span {
  transition: background-color 0.5s, color 0.5s;
  padding: 0 20px;
  color: khaki;
  background-color: #000;
  position: relative;
  bottom: -25px;
}
#total {
  margin-top: 1rem;
  background: transparent;
  outline: none;
  border: none;
  width: 6rem;
}
.booking-box table {
  text-align: right;
  margin: auto;
}
.booking-box #info-table {
  width: 50vw;
  margin: auto;
}
.booking-box td:nth-child(2n + 1) {
  padding-right: 20px;
}
.booking-box input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
  text-align: center;
  transition: border 0.5s;
}
#orderBtn {
  border: 3px solid black;
  margin-top: 1rem;
  background-color: khaki;
  width: 50vw;
  transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;
}
#orderBtn:hover {
  background-color: black;
  color: khaki;
  box-shadow: 5px 10px #949494;
}
footer {
  background-color: #e2e2e2;
}
footer div {
  font-size: 20px;
}
/* 
Parallax Scrolling Effect adapted from W3Schools
Source: https://www.w3schools.com/howto/howto_css_parallax.asp 
*/
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
